{% extends "base_formu.html" %}
{% load static %}
{% block contenido %}
<div class="container-fluid">
    <h1 style="text-align: center;">Galeria de imagenes: Ultimas Noticias</h1>
    <div class="col" style="background-color: tomato;">
        <div>
            <form action="{% url 'FILTROC' %}" method="POST">
                <div style="text-align: center;">
                    {% csrf_token %}
                    <h4>Filtro por Categoria de Noticias:</h4>
                    <select name="cboCategoria" id="cboCategoria">
                        {% for reg in categorias %}
                        <option>{{reg.nombre_noticia}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-success" type="submit" value="Filtrar">Filtrar</button>
            </form>
        </div>
    </div>

    <div>
        <div class="bg-secondary col-md">
            <form action="{% url 'FILTROA' %}" method="POST">
                <div style="text-align: center;">
                    {% csrf_token %}
                    <h4>Filtro por Autores de Noticias:</h4>
                    <select name="txtAutor" id="txtAutor">
                        {% for x in noticias %}
                        <option>{{x.autor}}</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-success" type="submit" value="Filtrar">Filtrar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container" style="margin-top: 15px;padding: 15px;">
    {% for item in noticias %}
    <div class="row" style="padding:15px;">

        <div class="col-6">
            <a href="{{item.imagen.url}}" data-title="{{item.titulo}}"></a>
            <img src="{{item.imagen.url}}" alt="" width="250px" height="250px">
        </div>
        <div class="col-6">
            <h3 style="text-align: center;">{{item.titulo}}</h3>
            <h5>
                <a href="{% url 'NOTI' item.titulo%}">Leer Noticia</a>
            </h5>
        </div>
    </div>
    {% endfor %}
</div>

</div>
</div>
{% endblock contenido %}