{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'font.css' %}">
<link rel="stylesheet" href="{% static 'css/nosotros.css' %}">
{% endblock css %}
{% block contenido %}
<div class="container">
    <div class="about-section">
        <div class="inner-container">
            <h1>Acerca de nosotros...</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore
                earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error
                eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
            <div class="skills">
                <span>Creatividad</span>
                <span>Solidaridad</span>
                <span>Respeto</span>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}