{% extends "base_formu.html" %}
{% load static %}
{% block contenido %}
<div style="text-align: center;font-size: xx-large;">
    Noticia #1
<div>
<table class="table table-info">
<thead>
    <tr>
        <img src="{{noticia.imagen.url}}" alt="" width="250px" height="250px">
    </tr>
    <tr><h1 style="text-align: center;color:red;">Titulo: {{noticia.titulo}}</h1></tr>
    <tr><h2>Autor: {{noticia.autor}}</h2></tr>
    <tr><h3>Descripcion: {{noticia.descripcion}}</h3></tr>
    <tr><h4>Categoria: {{noticia.categoria.nombre_noticia}}</h4></tr>
</thead>
</table>
</div>



</div>
{% endblock contenido %}