{% extends "base_formu.html" %}
{% load static %}
{% block contenido %}
<section id="blog">
    <h2 style="text-align: center;">Noticia #1</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4" style="background-color:#ccc">
                <article style="text-align: center;">
                    <img src="{{noticia.imagen.url}}" alt="" width="250px" height="250px">
                </article>
            </div>
            <div class="col-lg-4">
                <h1>Titulo: {{noticia.titulo}}</h1>
                    <h2>Autor: {{noticia.autor}}</h2>
                        <h3>Descripcion: {{noticia.descripcion}}</h3>
                            <h4>Categoria: {{noticia.categoria.nombre_noticia}}</h4>

            </div>
        </div>
    </div>
</section>
{% endblock contenido %}